* {
  margin: 0;
  border: 0;
}

.app__header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  justify-content: space-between;
}


.app__dropdownFlag {
  width: 1.5rem;
  margin-right: auto;
}